packages:
  yum:
    curl: []
    git: []
    htop: []




container_commands:
    01_get_env_vars:
      command: aws s3 cp  s3://yaseeeeeeeee/.env .

    01_remove_old_cron_jobs:
      command: "crontab -r || exit 0"
    02_cronjobs:
      command: "cat .ebextensions/crontab | crontab"
      leader_only: true

    03-install-composer:
      command: "curl -sS https://getcomposer.org/installer | php"
    04-install-depenencies:
      command: "composer.phar install --optimize-autoloader"

    05-generate-key:
      command: "php artisan key:generate"
    06initdb:
        command: "php artisan migrate"
    07-link:
      command: "php artisan storage:link"
    08-add-permission:
      command: "sudo chmod -R ug+rwx storage bootstrap/cache"
    09-copy_systemd_file:
      command: "easy_install supervisor"
    10-enable_systemd:
      command: "mkdir -p /etc/supervisor/conf.d"
    11-copy_horizon_config:
      command: "cp .ebextensions/laravel-worker.conf /etc/supervisor/conf.d/laravel-worker.conf"
    12-copy_supervidor_config:
      command: "cp .ebextensions/supervisord.conf /etc/supervisord.conf"
    13-touch_log:
      command: "mkdir -p /var/log/supervisor/ && touch /var/log/supervisor/supervisord.log"




option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /var/app/current/www/
